@import url("https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* منع السكرول الجانبي */
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vend Sans", sans-serif;
  height: 5000px;
}
* {
  z-index: 3;
}
/* container */
.contianar {
  padding: 15px 10px;
  margin: 0 auto;
  max-width: 890px;
  width: 100%;
}

/* Heroo Section */
.Heroo {
  height: 100vh;
  max-width: 100%;
}

.Heroo header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.Heroo header .logo {
  height: 72px;
}

.Heroo .contianar header .logo img {
  width: 100%;
  height: 100%;
  display: block;
}

.Heroo .contianar header nav {
  width: 50%;
  height: 100%;
}

.Heroo .contianar header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.Heroo .contianar header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 15px;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.Heroo .contianar header nav ul li:hover::before {
  width: 100%;
  transform: rotate(360deg);
}
.Heroo .contianar header nav ul li::before {
  content: "";
  bottom: 0;
  height: 5px;
  background-color: gray;
  position: absolute;
  width: 0px;
  transition: 0.3s ease-in-out;
}

.Heroo .contianar header nav ul li a {
  font-size: 19px;
  font-weight: 800;
  text-decoration: none;
  color: #232323;
}

/* Welcome Section */
.Welcome {
  max-width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
}

.Welcome::before {
  content: "Qtuaf";
  position: absolute;
  z-index: 1;
  font-size: 250px;

  font-family: "PT Serif", serif;
  font-family: 800;
  color: transparent;
  -webkit-text-stroke: 0.5px rgba(107, 107, 107, 0.61);
}
.Welcome .content {
  width: 80%;
  height: 7vh;
  text-align: center;
}
.Welcome .content p {
  font-size: 27px;
  font-weight: 800;
  color: #232323;
}
.Welcome .content p i {
  margin: 0 50px;
  color: green;
  font-size: 50px;
}
.Welcome .contianar {
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.Welcome .contianar .left,
.right {
  height: 75%;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.Welcome .contianar .left {
  justify-content: flex-start;
  gap: 20px;
}
.Welcome .contianar .right {
  justify-content: flex-end;
  gap: 20px;
}
.Welcome .contianar .left div,
.Welcome .contianar .right div {
  width: 100%;
  height: auto;
}
.Welcome .contianar .left div p,
.Welcome .contianar .right div p {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  color: #232323;
}
.fa-shield-heart {
  font-size: 30px;
  color: rgba(255, 115, 115, 0.938);
}
.fa-droplet {
  font-size: 30px;
  color: rgba(238, 155, 0, 0.822);
}
.fa-heart-circle-check {
  font-size: 30px;
  color: rgb(255, 21, 0);
}
.fa-star {
  font-size: 30px;
  color: gold;
}

.Welcome .contianar .center {
  width: calc(100% - 25%);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.Welcome .contianar .center img {
  height: 100%;
  width: 100%;
  filter: drop-shadow(0px 50px 100px rgba(50, 50, 93, 0.25))
    drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.3));
  animation: float 3s ease-in-out infinite;
}

.section2,
.section3 {
  padding: 60px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 50px 0;
}
.section2 .contianar {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.section2 .contianar .item {
  /* ضع هذا الكود على أي div أو عنصر تريد أن يكون سداسي */
  width: 40vh; /* الحجم حسب الحاوية */
  aspect-ratio: 1.15; /* يحافظ على نسبة ارتفاع/عرض للسداسي */
  background-color: rgba(255, 192, 17, 0.199);
  border-radius: 5px;

  /* سداسي متساوي الأضلاع، قاعد على ضلع */
  clip-path: polygon(
    0% 25%,
    /* top-left */ 50% 0%,
    /* top */ 100% 25%,
    /* top-right */ 100% 75%,
    /* bottom-right */ 50% 100%,
    /* bottom */ 0% 75% /* bottom-left */
  );

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}
.section2 .contianar .item1 .inItem {
  background: url(".//img_backrauond/worker.png");

  background-size: cover;
}
.section2 .contianar .item2 .inItem {
  background: url(".//img_backrauond/coctapar.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.section2 .contianar .item3 .inItem {
  background: url(".//img_backrauond/honey.jpg");

  background-position: center;
  background-size: cover;
}
.section2 .contianar .item4 .inItem {
  background: url(".//img_backrauond/worker.png");

  background-size: cover;
}
.section2 .contianar .item4 .inItem {
  background: url(".//img_backrauond/famleyEtt.png");

  background-size: cover;
  background-position: center;
}

.section2 .contianar .item5 .inItem {
  background: url(".//img_backrauond/famley.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section2 .contianar .item .inItem {
  position: relative;
  width: 95%;
  height: 95%;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  clip-path: polygon(
    0% 25%,
    /* top-left */ 50% 0%,
    /* top */ 100% 25%,
    /* top-right */ 100% 75%,
    /* bottom-right */ 50% 100%,
    /* bottom */ 0% 75% /* bottom-left */
  );
  overflow: hidden;
  color: #f1ffff;
}

.section2 .contianar .item .inItem::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease-out;
}

.section2 .contianar .item .inItem:hover::before {
  background-color: rgba(0, 0, 0, 0.308);
}

.section2 .contianar .item .inItem h3 {
  font-size: 21px;
  color: antiquewhite;
  transform: translateX(150%);
  transition: 0.3s ease-out;
}
.section2 .contianar .item .inItem p {
  font-weight: 700;
  transform: translateY(200px);
  transition: 0.3s ease-out;
  padding: 0 25px;
}

.section2 .contianar .item .inItem:hover h3 {
  transform: translateX(0);
}

.section2 .contianar .item .inItem:hover p {
  transform: translateY(0);
}

.section2::before {
  content: " Quality";
  position: absolute;
  z-index: 1;
  font-size: 250px;

  font-family: "PT Serif", serif;
  font-family: 800;
  color: transparent;
  -webkit-text-stroke: 0.5px rgba(107, 107, 107, 0.61);
}

.section3 .contianar {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.section3 .contianar .cards {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 15px;
  flex-wrap: wrap;
}
.section3 .contianar .cards .card {
  width: 30%;
  height: 340px;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border: 5px solid rgba(255, 192, 17, 0.199);
  border-radius: 7px;
}

.section3 .contianar .cards .card img {
  width: 75%;
  height: auto;
}

.section3 .contianar .cards .card .Description {
  position: absolute;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.section3 .contianar .cards .card:hover .carts {
  opacity: 1;
  transform: translateY(90px);
}

.section3 .contianar .cards .card .Description p {
  text-align: center;
  padding: 0 27px;
}

.section3 .contianar .cards .card .carts {
  width: 100%;
  height: 80px;
  z-index: 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: 5px solid rgba(255, 192, 17, 0.199);
  border-radius: 7px;
  opacity: 0;
}

.section3 .contianar .cards .card .carts .svgs,
.price {
  margin: auto;
  width: 80%;
  height: 50%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.section3 .contianar .cards .card .carts .svgs svg {
  font-size: 30px;
  cursor: pointer;
}

.section3 .contianar .cards .card .carts .price h4,
del {
  font-size: 18px;
  font-weight: 700;
}

.section3 .contianar .cards .card .carts .price h4 span {
  color: rgb(0, 255, 0);
  font-size: 22px;
}

.section3 .contianar .cards .card .carts .price del  {
  transform: skew(-10deg);
  font-size: 18px;
}

.section3 .contianar .cards .card .carts .price del span{
  color: rgb(255, 88, 88);
  font-size: 22px;

}

.section3::before {
  content: "Products";
  position: absolute;
  z-index: 1;
  font-size: 100px;
  font-family: "PT Serif", serif;
  font-family: 800;
  color: transparent;
  -webkit-text-stroke: 0.5px rgba(107, 107, 107, 0.61);
  top: -70px;
}
